
body {
  background-color: hsl(173, 60%, 80%); 
  font-family: Arial, arial, sans-serif;
}

 .navigation{
  margin-bottom: 80px;
 }
 .heading{
  margin-top: 40px;
}

nav{
  width: 100%;
  padding: 3px 0;
}
nav ul li{
  display:inline;
  width: 30%;
  text-align: center;
  float:left;
  border-left: 1px solid black;
  text-transform:uppercase;
}
.nav-link:nth-child(HOME) {
  border-left: none;
}
nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color:  #1f1e1e;
  font-weight: 500;
  width: 50%;
  font-size: 18px;
}
h2{
  font-weight: normal;
  
}
p{
  font-size: 16px;
}
.transform{
  text-transform: uppercase;
}
h3{
  font-weight: normal;
}
h4{
  font-weight: normal;
}

#site-title {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%); 
  color: #fff; 
  font-size: 40px; 
  text-align: center;
  text-transform:capitalize
}


 .starfish {
  width: 250px;
  height: 250px;
}

.wrapper {
  background-color: #d4e9e7;
  margin: 0 auto;
  width: 100%;
  max-width: 900px; 
  box-sizing: border-box;
}


.wrapper .img-container{
    position: relative;
    width: 100%;
    box-sizing:border-box;
    padding:8rem;
    object-fit:cover;
    
}
.wrapper .img-container img{
   position: absolute;
   top: 0;
   left:0;
  object-fit: cover;
   width:100%;
   height:100%;
   z-index: 100;
   border: none;
   margin:0;
}

.wrapper .img-container h1{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size:2.5rem;
  font-weight:300;
  z-index: 200;

}

ul{
  font-size: 15px;
}


p {
  text-align:justify ; 
}



img {
  float: left; 
  margin-right: 10px; 
}
label {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.border-box{
  font-size: 14px;
}
.border-box{
border: 1px solid #000;
}
footer{
  text-align: right;
}
.form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px; 

}

.form-group input{
   width: 850px;
   
}
textarea{
  width: 850px;
  height: 100px;
}
.container{
  padding: 1px;
}
.send-button {
  background-color: #78e0c3; 
  border: 1px solid #78e0c3; 
  color: rgb(3, 3, 3); 
  padding: 30px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 20px; 
  cursor: pointer; 
  border-radius: 4px; 
}

.form-choice {
  padding: 10px 20px; 

}

button {
  background-color: #d4e9e7;
  margin: 20px 20px 20px 0px; 

}

footer p{
  text-align: right;
}


 
  